In [23]:
import pandas as pd

In [24]:
df = pd.DataFrame({
    "가로":[10, 20, 30],
    "세로":[5, 10, 15]
})
df

   가로  세로
0  10   5
1  20  10
2  30  15

In [25]:
df["면적"] = df.eval("가로*세로")
df

   가로  세로   면적
0  10   5   50
1  20  10  200
2  30  15  450

In [26]:
target = {"가로": 10, "세로": 20, "면적": 200, "최장길이": 20, "최소길이": 10}

In [27]:
import functools # not required, but helps in production
def unpack_df_columns(func):
    @functools.wraps(func)
    def _unpack_df_columns(*args, **kwargs):
        series = args[0]
        return func(*series.values)
    return _unpack_df_columns

In [28]:
@unpack_df_columns
def 길이리스트만들기(가로, 세로):
    result = []
    result.append(가로)
    result.append(가로)
    result.append(세로)
    result.append(세로)
    return result

In [29]:
df["길이리스트"] = df[["가로", "세로"]].apply(길이리스트만들기, axis=1)
df

   가로  세로   면적             길이리스트
0  10   5   50    [10, 10, 5, 5]
1  20  10  200  [20, 20, 10, 10]
2  30  15  450  [30, 30, 15, 15]

In [30]:
df["최장길이"] = df["길이리스트"].apply(lambda x : max(x))
df["최소길이"] = df["길이리스트"].apply(lambda x : min(x))
df

   가로  세로   면적             길이리스트  최장길이  최소길이
0  10   5   50    [10, 10, 5, 5]    10     5
1  20  10  200  [20, 20, 10, 10]    20    10
2  30  15  450  [30, 30, 15, 15]    30    15

In [38]:
@unpack_df_columns
def 면적_최장길이적합도_검토(정반면적, 정반최장길이):
    global target
    
    if 정반면적 >= target["면적"] and 정반최장길이 >= target["최장길이"]:
        return "적합"
    else:
        return "부적합"

In [39]:
df["적합도검토"] = df[["면적", "최장길이"]].apply(면적_최장길이적합도_검토, axis=1)
df

   가로  세로   면적             길이리스트  최장길이  최소길이 적합도검토
0  10   5   50    [10, 10, 5, 5]    10     5   부적합
1  20  10  200  [20, 20, 10, 10]    20    10    적합
2  30  15  450  [30, 30, 15, 15]    30    15    적합

In [40]:
# 만약 target을 2번 정반에 배치했다면...잔여 정반 사이지를 어떻게 표현할 것인가?

In [83]:
# target = {"가로": 30, "세로": 10, "면적": 300, "최장길이": 30, "최소길이": 10}
target = {"가로": 20, "세로": 5, "면적": 100, "최장길이": 20, "최소길이": 5}
길이리스트 = [30, 30, 15, 15]

In [84]:
if min(길이리스트) == target["최소길이"] and max(길이리스트) >= target["최장길이"]:
    길이리스트[0] = 길이리스트[0] - target["최장길이"]
    길이리스트[1] = 길이리스트[1] - target["최장길이"]
    길이리스트[2] = target["최소길이"]
    길이리스트[3] = target["최소길이"]

if max(길이리스트) == target["최장길이"] and min(길이리스트) >= target["최소길이"]:
    길이리스트[0] = target["최장길이"]
    길이리스트[1] = target["최장길이"]
    길이리스트[2] = 길이리스트[2] - target["최소길이"]
    길이리스트[3] = 길이리스트[3] - target["최소길이"]

else:
    길이리스트[0] = 길이리스트[0] - target["최장길이"]
    길이리스트[2] = 길이리스트[2] - target["최소길이"]

In [85]:
길이리스트

[10, 30, 10, 15]

In [92]:
잔여면적 = []
if 길이리스트[0] == 길이리스트[1]:
    잔여면적.append(길이리스트[0]*길이리스트[3])
else:
    잔여면적  = []
    잔여면적.append(길이리스트[0]*길이리스트[3])
    잔여면적.append(길이리스트[1]*길이리스트[2])
잔여면적

[150, 300]